body {
    font-family: 'Acme', sans-serif;
    margin: 0;
}

h1 {
    font-size: 60px;
}

span {
    color: rgb(247, 21, 77);
}

.flex-container {
    display: flex;
    /* Using this attribute for show photo and content flexible left right part */
    margin-bottom: 100px;
}

.content {
    width: 50%;
    /*to make 2 div 50//50 size*/
    padding-left: 5%;
}

.content img {
    width: 85%;
    /*adjusting image*/
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(102, 3, 3), #f50f22);
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 800;
    color: rgb(63, 247, 7);
    box-shadow: 5px 5px 20px red;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.middHeadder {
    color: crimson;
}

.ex-h-color {
    color: rgb(140, 216, 27);
}

.bottom {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-items {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 35px greenyellow;
}

#web-dev {
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-image: linear-gradient(rgb(255, 1, 1), #7ce40681);
    border-image-slice: 1;
}

#security {
    border-left: 5px solid;
    border-bottom: 5px solid;
    border-image: linear-gradient(rgb(32, 231, 6), #ff0f4b);
    border-image-slice: 1;
}