body {
    font-family: 'Acme', sans-serif;
}

h1 {
    font-size: 60px;
}

span {
    color: rgb(247, 21, 77);
}

section {
    display: flex;
    /* Using this attribute for show photo and content flexible left right part */
}

.content {
    width: 50%;
    /*to make 2 div 50//50 size*/
    padding-left: 5%;
}

.content img {
    width: 85%;
    /*adjusting image*/
}

.link-button {
    text-decoration: none;
    background-color: #990707;
    padding: 20px 5px;
}